@model List<MovieDapperProject.Models.Reviews>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">

    <h3>Reviews</h3>

    <a href="/Reviews/EY" class="btn btn-primary mb-3">
        + Add Review
    </a>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Movie Id</th>
                <th>User</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Date</th>
                <th class="text-end">Actions</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MovieId</td>
                    <td>@item.UserName</td>
                    <td>@item.Rating</td>
                    <td>@item.Comment</td>
                    <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>

                    <td class="text-end">
                        <a href="/Reviews/EY/@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/Reviews/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>